<p id="notice"><%= notice %></p>

<label>Name:</label>
<%= @order.name %>
<br />
<br />
<label>Total amount:</label>
<%= @order.total_amount %>
<br /><br />


<%= form_with(model: @order, local: true) do |form| %>
  <%= form.fields_for :order_line do |order_line_form| %>
      <%= form.label :product %>
      <%= form.collection_select :product_id, @products, :id, :name %>
      <%= form.submit 'Add Product' %>
  <% end %>
<% end %>

<br /><br />
<br /><br />
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.product.name %></td>
        <td><%= convert_to_decimals(order_line.price, 2) %></td>
        <%= form_with(model: @order, local: true, id: "form_#{order_line.id}") do |form| %>
          <%= form.fields_for :order_line do |order_line_form| %>
              <%= form.hidden_field :order_line_to_remove, value: order_line.id %>
              <td><a href='' onclick="document.getElementById('<%= "form_#{order_line.id}" %>').submit();" data-confirm="Are you sure?">Delete</a></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br /><br />
<%= link_to 'Back', orders_path %>
