<div class='product-info'>
<h4>Name:</h4>
<span><%= @order.name %></span>
<h4>Total amount:</h4>
<span><%= @order.total_amount %></span>
</div>


<%= form_with(model: @order, local: true) do |form| %>
  <%= form.fields_for :order_line do |order_line_form| %>
      <%= form.label :product, class: 'form-label' %>
      <%= form.collection_select :product_id, @products, :id, :name, {}, { class: 'form-control products-dropdown' } %>
      <%= form.submit 'Add Product', class: 'btn btn-primary btn-new-line' %>
  <% end %>
<% end %>

<br /><br />
<br /><br />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.product.name %></td>
        <td><%= convert_to_decimals(order_line.price, 2) %></td>
        <%= form_with(model: @order, local: true, id: "form_#{order_line.id}") do |form| %>
          <%= form.fields_for :order_line do |order_line_form| %>
              <%= form.hidden_field :order_line_to_remove, value: order_line.id %>
              <td><a href='' onclick="document.getElementById('<%= "form_#{order_line.id}" %>').submit();" data-confirm="Are you sure?">Delete</a></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br /><br />
<%= link_to 'Back', orders_path %>
